- name: Create an EC2 instance
  hosts: localhost
  gather_facts: no
  environment:
    AWS_REGION: us-east-1
  vars:
    num_instances: 1
    base_name: sample_app_ansible_0116
    http_port: 8080
  tasks:
    - debug:
        msg: "App={{ base_name }}, Port={{ http_port }}"
  tasks:
    - name: Create security group
      amazon.aws.ec2_security_group:
        name: "{{ base_name }}"
        description: "{{ base_name }} HTTP and SSH"
        rules:
          - proto: tcp
            ports: ["{{ http_port }}"]
            cidr_ip: 0.0.0.0/0
          - proto: tcp
            ports: [22]
            cidr_ip: 0.0.0.0/0
      register: aws_security_group
        
    - name: Show SG id
      ansible.builtin.debug:
        var: aws_security_group.group_id
        
    - name: Create a new EC2 key pair
      amazon.aws.ec2_key:
        name: "{{ base_name }}"
        file_name: "{{ base_name }}.key"
      no_log: false
      register: aws_ec2_key_pair
    
    - name: Get all Amazon Linux AMIs
      amazon.aws.ec2_ami_info:
        owners: amazon
        filters:
          name: al2023-ami-2023.*-x86_64
      register: amazon_linux_amis
    
    - name: Show selected AMI id
      ansible.builtin.debug:
        msg: "Using AMI={{ amazon_linux_amis.images[-1].image_id }}"

    - name: Create EC2 instances with Amazon Linux
      loop: "{{ range(num_instances | int) | list }}"
      amazon.aws.ec2_instance:
        name: "{{ '%s_%d' | format(base_name, item) }}"
        key_name: "{{ aws_ec2_key_pair.key.name }}"
        instance_type: t3.micro
        security_group: "{{ aws_security_group.group_id }}"
        image_id: "{{ amazon_linux_amis.images[-1].image_id }}"
        tags:
          Name: "{{ base_name }}_0"
          Ansible: "{{ base_name }}"
      register: ec2_result
 
    - name: Print instance ids
      ansible.builtin.debug:
        msg: "{{ ec2_result.results | map(attribute='instance_ids') | list }}"
        
    - name: Print public DNS names
      ansible.builtin.debug:
        msg: "{{ ec2_result.results | map(attribute='instances') | map('first') | map(attribute='public_dns_name') | list }}"
    
    - name: Print public IPs
      ansible.builtin.debug:
        msg: "{{ ec2_result.results | map(attribute='instances') | map('first') | map(attribute='public_ip_address') | list }}"